@charset "UTF-8";

body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 16px;
  letter-spacing: .05em;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #28988C;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

/*--------------------------------
 Common
---------------------------------*/
.wrapper {
  padding-top: 70px;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  padding: 90px 0  60px;
}

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #333;
}

/*--------------------------------
Header
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.header-logo a:hover {
  opacity: 0.9;
}

/*--------------------------------
Navigation
---------------------------------*/
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-item a {
  position: relative;
  font-size: 0.9em;
  font-weight: 800;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #666;
}

.nav-item a:hover {
  color: #28988C;
  font-weight: 900;
}

/*--------------------------------
 Profile
---------------------------------*/
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #28988C;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.profile-body {
  text-align: center;
}

.profile-img {
  width: 40%;
  margin-right: 16px;
  margin-top: -16px;
  border-radius: 50%;
}

.profile-inner {
  display: inline-block;
  text-align: left;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.8;
  color: #FFF;
}

/* スクロール */
.scroll{
  width: 100%;
  bottom: 0;
  color: #fff;
  }

.scroll a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 0 50px;
    
  }

/* スクロール矢印 */
.scroll a:before{
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      left: 0;
      right: 0;
      bottom: 25px;
      margin: 0 auto;
      border-bottom: 2px solid #d4d3d3;
      border-right: 2px solid #d4d3d3;
      transform: rotate(45deg);
      animation: move 2s infinite;
    }

/* 矢印アニメーション */
@keyframes move {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  20% {
    transform: rotate(45deg) translate(10px, 10px);
  }
  40% {
    transform: rotate(45deg) translate(0, 0);
  }
}

/*--------------------------------
 Service
---------------------------------*/
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
  margin-top: 20px;
  padding: 0 20px;
}

.service-item {
  text-align: center;
  margin-bottom: 60px;
  width: calc(30%);
}

.service-item img {
  width: 180px;
  height: 180px;
  margin-bottom: 30px;
}

.service-name {
  margin-top: 15px;
  margin-bottom: 15px;
}

.service-details {
  font-size: 0.8rem;
  text-align: left;
  padding: 8px 12px;
  margin-bottom: 20px;
}

.service-wrapper {
  padding-top: 40px;
  text-align: center;
}

.service-wrapper img {
  width: 90%;
}

/*--------------------------------
 Works
---------------------------------*/
#works {
  background-color: rgba(237, 241, 241, 0.5);
  color: #333;
}

.works-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
}

.works-item {
  text-align: center;
  margin-bottom: 60px;
  width: calc(30%);
}

.works-item:hover {
  opacity: 0.9;
}

.works-name {
  margin-top: 15px;
  margin-bottom: 15px;
}

.works-name a {
  font-size: 1em;
}

/*--------------------------------
 Contact
---------------------------------*/
#contact {
  color: #333;
}

#contact .container {
  margin: 0 auto;
  padding: 0px 20px 10px;
}

#contact .wrapper {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 60px 20px;
  background-color: #fff;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact dt {
  width: 18%;
}
#contact dd {
  width: 82%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 90%;
  border: solid 1px #777;
  padding: 10px;
  border-radius: 5px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .submit, .reset {
  text-align: center;
}

.contact-list {
  display: flex;
  justify-content:center;
}

#contact .submit input {
  width: 200px;
  background-color: #28988C;
  color: #fff;
  padding: 10px 0;
  margin-right: 20px;
  border: solid 2px #28988C;
  border-radius: 2px;
  opacity: 1;
}
#contact .submit input:hover {
  opacity: 0.8;
}

#contact .reset input {
  width: 100px;
  background-color: #698f8c;
  color: #fff;
  padding: 10px 0;
  border: solid 2px #698f8c;
  border-radius: 2px;
  opacity: 1;
}
#contact .reset input:hover {
  opacity: 0.8;
}

/*--------------------------------
 footer
---------------------------------*/
footer {
  background-color: #333;
}

footer .container {
  max-width: 1340px;
  padding: 30px;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  justify-content: space-between; 
  font-size: 0.8rem;
  color: #fff; 
}

.footer-list ul, li {
  float: left;
  list-style: none;
}

.footer-list li {
  margin-right: 20px;
}

.footer-list a {
  color: #FFF;
}

.footer-list a:hover {
  opacity: 0.7;
}

.footer-list p {
  padding-top: 120px;
  text-align: start;
}

.footer-logo {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  margin-top: 30px;
  letter-spacing: .05em;
}

.footer-logo a {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
}

.footer-logo a:hover {
  opacity: 0.9;
}

.copyright {
  color: #fff;
  font-size: 0.7em;
  text-align: center;
  padding-bottom: 10px;
}

/*-------------------------------------------
Go top
-------------------------------------------*/
.gotop{
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #F2F415;
  border: 2px solid #F2F415;
  border-radius: 50%;
  padding-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: #333;
  opacity: 0.7;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}
.gotop::before{
  content: "";
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 25%;
  height: 25%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 1.0;
}

/*--------------------------------
 sp
---------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .nav-item a {
    font-size: 0.8em;
  }

  .profile-container {
    height: 75vh;
  }

  .profile {
    display: block;
  }

  .profile-img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-inner {
    font-size: 1rem;
    margin: 0 20px;
  }

  .profile-body p {
    font-size: 0.98rem;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  .service-list {
    flex-direction: column;
  }

  .service-item {
    width:100%; 
   }

  .service-wrapper {
    padding-top: 30px;
  }

  .works-list {
    flex-direction: column;
  }

  .works-item {
    text-align: center;
    width: 100%;
    border-bottom: none;
    padding-bottom: 10px;
  }

  .works-name a {
    font-size: 1em;
  }

  #contact dl {
      flex-direction: column;
  }
  
  #contact dt {
      width: 100%;
   }

  #contact dd {
      width: 100%;
  }

  .contact-list {
      display: flex;
      justify-content:center;
  }

  #contact .submit input {
      width: 100px;
      padding: 5px 0;
  }

  #contact .reset input {
      width: 100px;
      padding: 5px 0;
  }
  
  .footer-list {
    display: block;
    text-align: center;
  }

  .footer-list ul, li {
    list-style: none;
  }
  
  .footer-list a {
    color: #FFF;
  }
  
  .footer-list a:hover {
    opacity: 0.7;
  }

  .footer-list p {
    padding-top: 0;
    margin: 10px;
  }

  .footer-logo {
    display: none;
  }

}



